<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Horizontal">
    <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="1.5717288491855*">
      <LayoutAnchorablePane Id="93470fcc-d263-4320-a04f-38baac93ae59" DockWidth="0.468844502592843*">
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Devices" IsSelected="True" ContentId="deviceTree" CanClose="False" LastActivationTimeStamp="06/05/2018 22:07:25" />
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="MediaTree" ContentId="mediaTree" CanClose="False" />
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="ModeTree" ContentId="modeTree" CanClose="False" />
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="ShowsList" ContentId="showsList" CanClose="False" />
      </LayoutAnchorablePane>
      <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="1.53115549740716*">
        <LayoutAnchorablePane DockHeight="1.3767266638761*" FloatingWidth="962" FloatingHeight="1018" FloatingLeft="516" FloatingTop="679">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="LedShowEditor" ContentId="ledShowEditor" FloatingLeft="644" FloatingTop="399" FloatingWidth="644" FloatingHeight="1340" CanClose="False" LastActivationTimeStamp="06/05/2018 22:05:57" PreviousContainerId="93470fcc-d263-4320-a04f-38baac93ae59" PreviousContainerIndex="1" />
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Game Status" ContentId="gameStatus" FloatingLeft="634" FloatingTop="398" FloatingWidth="644" FloatingHeight="1340" CanClose="False" LastActivationTimeStamp="06/05/2018 22:05:49" PreviousContainerId="93470fcc-d263-4320-a04f-38baac93ae59" PreviousContainerIndex="1" />
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="SwitchMatrix" ContentId="switchMatrix" FloatingLeft="640" FloatingTop="393" FloatingWidth="644" FloatingHeight="1340" CanClose="False" LastActivationTimeStamp="06/05/2018 22:05:43" PreviousContainerId="93470fcc-d263-4320-a04f-38baac93ae59" PreviousContainerIndex="8" />
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="DeviceInformation" IsSelected="True" ContentId="deviceInformation" FloatingLeft="516" FloatingTop="679" FloatingWidth="962" FloatingHeight="1018" CanClose="False" LastActivationTimeStamp="06/05/2018 22:07:08" PreviousContainerId="93470fcc-d263-4320-a04f-38baac93ae59" PreviousContainerIndex="1" />
        </LayoutAnchorablePane>
        <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="0.623273336123901*" FloatingWidth="644" FloatingHeight="1340" FloatingLeft="643" FloatingTop="751">
          <LayoutAnchorablePane FloatingWidth="644" FloatingHeight="1340" FloatingLeft="643" FloatingTop="751">
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="LedShowTimeline" ContentId="ledShowTimeline" FloatingLeft="632" FloatingTop="1074" FloatingWidth="644" FloatingHeight="1340" CanClose="False" LastActivationTimeStamp="06/05/2018 22:07:32" PreviousContainerId="93470fcc-d263-4320-a04f-38baac93ae59" PreviousContainerIndex="1" />
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="PlayfieldProperties" ContentId="playfieldProperties" FloatingLeft="648" FloatingTop="1056" FloatingWidth="644" FloatingHeight="1340" CanClose="False" LastActivationTimeStamp="06/05/2018 22:06:06" PreviousContainerId="93470fcc-d263-4320-a04f-38baac93ae59" PreviousContainerIndex="4" />
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="LogMessages" IsSelected="True" ContentId="document2" FloatingLeft="643" FloatingTop="751" FloatingWidth="644" FloatingHeight="1340" CanClose="False" LastActivationTimeStamp="06/05/2018 22:07:38" PreviousContainerId="93470fcc-d263-4320-a04f-38baac93ae59" PreviousContainerIndex="9" />
          </LayoutAnchorablePane>
        </LayoutAnchorablePaneGroup>
      </LayoutAnchorablePaneGroup>
    </LayoutAnchorablePaneGroup>
    <LayoutAnchorablePane DockWidth="0.428271150814503*" FloatingWidth="1918" FloatingHeight="1018" FloatingLeft="1414" FloatingTop="681">
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Playfield" IsSelected="True" ContentId="playfield" FloatingLeft="1414" FloatingTop="681" FloatingWidth="1918" FloatingHeight="1018" CanClose="False" LastActivationTimeStamp="06/05/2018 22:07:10" PreviousContainerId="93470fcc-d263-4320-a04f-38baac93ae59" PreviousContainerIndex="2" />
    </LayoutAnchorablePane>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>